@import '../../mixins/adaptive_mixin.scss';

.b-banner {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    .swiper {
        overflow: visible;
        &-slide {
            background: rgba(0, 0, 0, 0.20);
            display: flex;
            cursor: pointer;
            box-shadow: inset -10px 10px 100px rgba(0, 0, 0, 0.55);
            
            @include for-size(mobile) {
                flex-direction: column;
            }
        }
        &-slide img {
            max-height: 600px;

            @include for-size(mobile) {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
            }
        }
        &-slide p {
            margin-left: 40px;
            line-height: 1;
            font-size: 50px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;

            @include for-size(mobile) {
                font-size: 30px;
                margin-left: 0;
            }
        }
        &-description {
            color: #fff;
            padding: 0 40px;
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 600;

            @include for-size(mobile) {
                font-size: 14px;
                padding: 0;
            }

            .swiper-description-name {
                margin-bottom: 40px;
                @include for-size(mobile) {
                    margin-bottom: 80px;
                }
            }
            a {
                border: 2px solid #f60;
                padding: 10px 20px;
                border-radius: 7px;
                background: #f60;
                color:#fff;
                position: absolute;
                bottom: 40px;
                text-decoration: none;
                &:hover {
                    background: transparent;
                    color: #fff;
                    border:2px solid #fff;
                }
                
                @include for-size(mobile) {
                    bottom: 20px;
                }
            }
        }
        &-col-left {
            max-height: 600px;
            @include for-size(tablet) {
                width: 40%;
                img {
                    width: 100%;
                }
            }

            @include for-size(mobile) {
                text-align: center;
                margin-bottom: 25px;
                padding: 30px 20px;
            }

            @include for-size(mobile-small) {
                padding: 0;
            }
        }
        &-col-right {
            @include for-size(tablet) {
                width: 60%;
            }

            @include for-size(mobile) {
                padding: 0px 20px;
            }
        }
    }
}