@import '../../mixins/adaptive_mixin.scss';

.main {
    &__wrap {
      max-width: 1440px;
      padding: 100px 20px;
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;

      @include for-size(mobile) {
        padding: 50px 10px;
     }
    }
    @include for-size(mobile) {
      padding: 90px 0 0;
   }
  }