.b-button {
    margin: 0 auto;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 8px;
    cursor: pointer;
	color: #f60;
	background: #fff;
}
.b-button:hover {
    background: transparent;
    color:#fff
}